<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaftBites"
        tools:targetApi="31">

        <!-- Splash Activity (Launcher Activity) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Restaurant Details Activity -->
        <activity
            android:name=".RestaurantDetailsActivity"
            android:exported="true" />

        <!-- Review Ratings and Reviews Details Activity -->
        <activity
            android:name=".ReviewRatingsReviews_DetailsActivity"
            android:exported="true" />

        <!-- Rate Review Activity -->
        <activity
            android:name=".RateReviewActivity"
            android:exported="true" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Login Activity -->
        <activity android:name=".LoginActivity" />

        <!-- Signup Activity -->
        <activity android:name=".SignupActivity" />

        <!-- Metadata for preloaded fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Google Play Services metadata -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
